<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>
                    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
                        nonvalidate>

                        <input type="text" name="username" placeholder="Name" [(ngModel)]="form.username" required
                            #username="ngModel" />
                        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.invalid">
                            Username is required!
                        </div>
                        <input type="password" name="password" placeholder="password" [(ngModel)]="form.password"
                            required minlength="6" #password="ngModel" />
                        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                            <div *ngIf="password.errors.required">Password is required</div>
                            <div *ngIf="password.errors.minlength">
                                Password must be at least 6 characters
                            </div>
                        </div>
                        <span>
                            <input type="checkbox" class="checkbox">
                            Keep me signed in
                        </span>
                        <button type="submit" class="btn btn-default">Login</button><br>
                        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                            Login failed: {{ errorMessage }}
                        </div>
                        <li>
                            <span>
                                Don't you have an account? <a routerLink="/register">Sign Up</a>
                            </span>
                        </li>
                    </form>
                </div>
                <!--/login form-->

                <div class="alert alert-success" *ngIf="isLoggedIn">
                    Logged in as {{ roles }}.
                </div>
            </div>
        </div>
    </div>
</section>
<!--/form-->