<app-advert></app-advert>
<section>
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->

                        <div class="panel panel-default" *ngFor="let category of categorys">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">{{category.name}}</a></h4>
                            </div>
                        </div>
            
                    </div><!--/category-productsr-->
                    
                </div>
            </div>
            
            <div class="col-sm-9 padding-right" >
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Features Items</h2>
                    <div class="col-sm-4" *ngFor="let product of products">
                        <div class="product-image-wrapper" >
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img [src]="product.pictureUrl" alt="Picture URL" />
                                    <h2>R {{product.price}}</h2> 
                                    <p>{{product.description}}</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>{{product.price}}</h2>
                                        <p>{{product.name}}</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                    <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <ul class="pagination">
                        <li class="active"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">&raquo;</a></li>
                    </ul> -->
                </div><!--features_items-->
            </div>
        </div>
    </div>
</section>
